.header-links li{
    float: right;
    margin: 1rem;
    list-style: none;
}
a{
    color: orange;
    text-decoration: none;
}
.head img{
    margin-left: 3rem;
}
.search-container{
    margin: 1rem;
    float: right;
    padding: 5px;
    background: #989491;
    font-size: 1rem;
    border: none;
  }